/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Print Receipt: hide everything on the page except #receipt */
@media print {
  body * {
    visibility: hidden;
  }

  #receipt,
  #receipt * {
    visibility: visible;
  }

  #receipt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
  }
}
