.dashboard {

    padding:30px;

}



.dashboard h1 {

    font-family:Georgia;
    font-size:32px;

}



.dashboard p {

    color:#666;

}



.dashboard-header {

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

}


/* Cards */


.cards {

    display:flex;
    flex-wrap:wrap;
    gap:16px;
    margin-top:25px;

}



.card {

    width:190px;

    background:white;

    border:1px solid #ddd;

    padding:20px;

    border-radius:8px;

}



.card label {

    font-size:12px;
    color:#777;

}



.card h2 {

    margin-top:10px;
    font-size:28px;

}



.warning-card {

    background:#f6e8cc;
    border-color:#dfbf87;

}



.card-link {
    cursor: pointer;
}



/* Panels */


.panels {

    display:flex;

    gap:20px;

    margin-top:35px;

}



.panel {

    background:white;

    border:1px solid #ddd;

    padding:20px;

    width:50%;

    border-radius:8px;

    cursor: pointer;

}



.panel h3 {

    font-family:Georgia;

}



.panel span {

    color:#777;

}